* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}
header {
  height: max-content;
  padding-bottom: 20px;
  background: linear-gradient(
    to bottom,
    rgba(242, 159, 44, 1) 0%,
    rgba(255, 201, 120, 1) 38%,
    rgba(255, 201, 120, 1) 100%
  );
}
header nav {
  height: 50px;
  background-color: #f29f2c;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 60px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}
header nav ul a {
  text-decoration: none;
  color: black;
}
header .TitleMarca{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .TitleMarca .MarcaUno{ 
  display: flex;
  flex-direction: column;
  
}
header .TitleMarca .MarcaDos{
  display: flex;
  flex-direction: column;
}
header .DistOfi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
header .DistOfi p{
  font-size: 20px;
  align-self: center;
}
header .DistOfi img{
  height: 69px;
  width: 69px;
}
header .TitleMarca img{
  height: 100px;
  width: 100px;
}
header .TituloH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
header .TituloH .LogoMaxitodo{
  height: 250px;
  width: 500px;
}
/*
header .TituloH h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 100px;
  color: red;
}
*/
header .ParrafosH ul {
  display: flex;
  padding: 0;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.Fotos {
  height: 500;
}
footer {
  /* height: 200px; */
  padding: 16px 8px;
  background-color: #f29f2c;
}
footer .footerH {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
footer .BotonesFooter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .P2FooterH {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* OFERTAS */

main .Ofertas {
  background-color: #f29f2c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 50px;
}
main .Ofertas .card {
  background: linear-gradient(
    to bottom,
    rgba(242, 159, 44, 1) 0%,
    rgba(255, 201, 120, 1) 38%,
    rgba(255, 201, 120, 1) 100%
  );
  /* height: 320px; */
  height: max-content;
  padding: 24px 16px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 11px 11px 28px rgba(0, 0, 0, 0.5);
}
main .Ofertas .card .FotoCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .Ofertas .card .TituloCard {
  display: flex;
  justify-content: center;
}
main .Ofertas .card .TituloCard p {
  font-size: 20px;
}
main .Ofertas .card .PrecioCard {
  display: flex;
  justify-content: center;
  padding-top: 7px;
}
main .Ofertas .card .PrecioCard p {
  font-size: 20px;
}
main .Ofertas .card .contenedorBoton {
  display: flex;
  justify-content: center;
}
.contenedorBoton button {
  border: solid 1px #000;
}
.FotoCard img {
  height: 220px;
  width: auto;
}
main .Barra {
  height: 20px;
  background-color: red;
}

@media screen and (max-width: 768px) {
  header .TituloH h1 {
    font-size: 60px;
  }
    header .TituloH .LogoMaxitodo{
      height: 80px;
      width: 160px;
    }
  header .DistOfi img{
    height: 20px;
    width: 20px;
    justify-content: space-around;
  }
  header .DistOfi p{
    font-size: 10px;
  }
  header .TitleMarca .MarcaUno img{
    height: 40px;
    width: 40px;
  }
  header .TitleMarca .MarcaDos img{
    height: 40px;
    width: 40px;
  }
  header .ParrafosH ul li {
    padding: 8px;
    list-style-type: circle;
  }
  main .Ofertas {
    padding: 16px;
    /* de a una card por fila hasta 768px */
    grid-template-columns: repeat(1, 1fr);
  }
  footer .P2FooterH {
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  footer .BotonesFooter {
    justify-content: space-around;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  main .Ofertas {
    padding: 16px;
    /* de a 3 cards por fila hasta 1100px */
    grid-template-columns: repeat(3, 1fr);
  }
  header .DistOfi img {
    height: 50px;
    width: 50px;
  }
  header .TitleMarca .MarcaUno img{
    height: 80px;
    width: 80px;
  }
  header .TitleMarca .MarcaDos img{
    height: 80px;
    width: 80px;
  }
}
/* min width: minimo ancho de pantalla -- max width : maximo ancho de pantalla*/
@media (min-width: 1101px) and (max-width: 1400px) {
  main .Ofertas {
    padding: 16px;
    /* de a 4 cards por fila  hasta 1400px */
    grid-template-columns: repeat(4, 1fr);
  }
}
