$marronClaro: #DB975B;
$marronOscuro: #C5793D;
$rojoClaro: #C03B26;
$rojoOscuro: #BC0511;



// mobile
@media screen and (max-width: 768px) {
    
    header{
        nav{
            padding: 15px 20px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 10px;
            }
        }
        .Titulo{
        h1{
            img{
                width: 90vw;
            }
        }           
        h2{
            font-size: 9vw;
        } 
        }

    }
   main{
        .carouselMarcas{
            padding-top: 2vh;
            .Slider{
                height: 25vh;
                .slider-track{
                    .slide{
                        height: max-content;
                        width: fit-content;
                        margin-right: 2px;
                        margin-left: 2px;
                        display: flex;
                        align-self: center;
                        img{
                            width: 25vw;
                            height: 25vw;
                        }
                    }
                }
            }
        }
        .Ofertas{
            padding: 1.78vw 2.5vw;
            .tituloOfertas{
                display: flex;
                justify-content: center;
                align-items: center;
                h3{
                    font-weight: 400;
                    font-size: 30px;
                }
            }
            .carouselOfertas{
                .glider-contain{
                    .drag{
                        height: 50vh;
                    }
                    button{
                        display: none;
                    }

                    .glider{
                        .card{
                            padding: 16px;
                        }   
                    }
                }
            }
            .botonOfertas{
                a{
                    button{
                        padding: 4px 8px;
                        font-size: 15px;
                    }
                }
            }
        }
   
        .formContacto{
            .tituloForm{
                gap:5px;
                h3{
                    font-size: 9vw;
                }
                h4{
                    font-size: 12vw;
                }
            }
            #form{
                width: 100%;
                gap: 15px;
                .datosForm{
                    gap: 5px;
                    width: 100%;
                    .field{
                        width: 100%;
                        input{
                            width: 90%;
                        }
                    }

                }
                .field{
                    width: 100%;
                    text-align: -webkit-center;
                    #mensaje{
                        width: 90%;
                    }
                }
            }
            .botonIndex{
                padding-bottom: 16px;
                    input{
                        padding: 4px;
                        font-size: 8vw;
                        width: 90vw;
                        font-weight: 400;
                    }
                
            }
        }

.OfertasO{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
    .cardO{
        .cardContenido{
            p{
                font-size: 15px;
            }
            .imgCard{
                p{
                    
                }
                img{
                    width: 130px;
                    height: auto;
                }
            }
        }
       
    }
}

.textQuienesSomos{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .Familia{
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3{
            font-weight: 400;
            font-size: 30px;
        }
        p{
            font-weight: 400;
            font-size: 15px;            
        }
        .barrita{
            width: 226px;
            height: 5px;
            background: linear-gradient(to right, #bc0511 0%, #fff 100%);
        }
        
    }
    .serParte{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;
        h3{
            font-weight: 400;
            font-size: 30px;
        }
        p{
            font-weight: 400;
            font-size: 15px;            
        }
        .barrita{
            width: 310px;
            height: 5px;
            background: linear-gradient(to left, #bc0511 0%, #fff 100%);
        }
        
    }

}
.carouselEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .titleEmpresa{
            padding: 16px;
            h3{
                font-weight: 400;
                font-size: 30px;
            }
            .barrita{
                width: 230px;
                height: 5px;
                background: linear-gradient(to left, #FFFFFF 0%, #bc0511 100%, #fff 0%);
            }
        }
}
}
footer{
    gap: 15px;
    .tituloFooter{
        img{
            width:60vw;
        }

    }
    .contFooter{
        gap: 5px;
        flex-direction: column;
        font-size: 5vw;
        img{
            width: 15vw;
            height: auto;
        }
        .horario{
            p{
             font-size: 5vw;    
             font-weight: 200;           
            }

        }
        .direccion, .ig{
            a{
                font-size: 5vw;
                font-weight: 200;
            }
        }
    }
}

}





// tablet
@media (min-width: 769px) and (max-width: 1100px) {
    header{
        nav{
            padding: 15px 20px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 13px;
            }
        }
        .Titulo{
            h1{
                img{
                    width: 80vw;
                }
            }
            h2{
                font-size: 5vw;
            }
        }
    }

    main{
    .Ofertas{
        padding:24px;
        .tituloOfertas{
            h3{
                font-size: 5vw;
            }
        }
        .carouselOfertas{
            .glider-contain{
                .drag{
                    height: 60vh;
                }
                button{
                    display: none;
                }

                .glider{
                    .card{
                        padding: 16px;
                    }   
                }
            }
        }
    }
    .OfertasO{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .cardO{
            .cardContenido{
                p{
                    font-size: 15px;
                }
                .imgCard{
                    p{
                        
                    }
                    img{
                        width: 130px;
                        height: auto;
                    }
                }
            }
           
        }
    }
    .carouselMarcas{
        padding-top: 50px;
        .Slider{
            height: 35vh;
            .slider-track{
                .slide{
                    height: max-content;
                    width: fit-content;
                    margin-right: 2px;
                    margin-left: 2px;
                    display: flex;
                    align-self: center;
                    img{
                        width: 15vw;
                        height: 15vw;
                    }
                }
            }
        }
    }

    .textQuienesSomos{
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        gap: 150px;
        .Familia{
            display: flex;
            flex-direction: column;
            gap: 15px;
            h3{
                font-weight: 400;
                font-size: 40px;
            }
            p{
                font-weight: 300;
                font-size: 18px;            
            }
            .barrita{
                width: 305px;
                height: 5px;
                background: linear-gradient(to right, #bc0511 0%, #fff 100%);
            }
            
        }
        .serParte{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: end;
            h3{
                font-weight: 400;
                font-size: 40px;
            }
            p{
                font-weight: 300;
                font-size: 18px;            
            }
            .barrita{
                width: 410px;
                height: 5px;
                background: linear-gradient(to left, #bc0511 0%, #fff 100%);
            }
            
        }
    }
    .carouselEmpresa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            .titleEmpresa{
                padding: 100px;
                h3{
                    font-weight: 400;
                    font-size: 40px;
                }
                .barrita{
                    width: 308px;
                    height: 5px;
                    background: linear-gradient(to left, #FFFFFF 0%, #bc0511 100%, #fff 0%);
                }
            }
    }
    .formContacto{
        #form{
            width: 100%;
            .field{
                width: 100%;
                text-align: -webkit-center;
            #mensaje{
                width: 60%;
            }                
            }

        }
        padding-bottom: 15px;
    }

    
}
footer{
    gap: 15px;
    .tituloFooter{
        img{
            width:60vw;
        }

    }
    .contFooter{
        gap: 5px;
        flex-direction: column;
        font-size: 5vw;
        img{
            width: 9vw;
            height: auto;
        }
        .horario{
            p{
             font-size: 4vw;    
             font-weight: 200;           
            }

        }
        .direccion, .ig{
            a{
                font-size: 4vw;
                font-weight: 200;
            }
        }
    }
}
}

@media (min-width: 1101px) and (max-width: 1400px){
    main{
        .OfertasO{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .cardO{
                .cardContenido{
                    p{
                        font-size: 15px;
                    }
                    .imgCard{
                        p{
                            
                        }
                        img{
                            width: 130px;
                            height: auto;
                        }
                    }
                }
               
            }
        }
        .carouselMarcas{
            padding-top: 50px;
            .Slider{
                height: 140px;
                .slider-track{
                    .slide{
                        img{
                            width: 140px;
                            height: auto;
                        }
                    }
                }
            }
        }

    }


}


